<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />
<!--  <link rel='stylesheet' href='/stylesheets/client.css' rel='stylesheet' /> -->
  <style>
  #message_block{
    position: relative;
    height:500px;
    border: solid 2px black;
    overflow:auto;
  }
  </style>
  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' />
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
    var socket = io();
    //var name = prompt("Input your name : ","guest");
    console.log("<%= data[0].ppt_title %>");
    var name = "<%= user.username %>";
    var title = "<%= data[0].ppt_title %>";
    socket.emit("join room" , title);
    socket.emit("add user", name);
    function msg_send(){
      var message = document.getElementById('msg').value;
      socket.emit("msg",{msg:message});
      document.getElementById('msg').value = "";
    };
    socket.on('chat message', function(chat){
      var ul = document.createElement("ul");
      var new_msg_node = document.createTextNode(chat.user + " : " + chat.msg);
      ul.appendChild(new_msg_node);
      var element = document.getElementById("message_block");
      element.appendChild(ul);
    });
    socket.on('show notes', function(notes){
      var ul = document.createElement("ul");
      var new_msg_node = document.createTextNode(tmp[1]+ ' : ' + tmp[2]);
      ul.appendChild(new_msg_node);
      var element = document.getElementById("message_block");
      element.appendChild(ul);
    });
    function secondsToHms(d) {
      d = Number(d);
      var h = Math.floor(d / 3600);
      var m = Math.floor(d % 3600 / 60);
      var s = Math.floor(d % 3600 % 60);
      return ((h > 0 ? h + ":" + (m < 10 ? "0" : "") : "") + m + ":" + (s < 10 ? "0" : "") + s);
    }
    function searchKeyPress(e){
        // look for window.event in case event isn't passed in
        e = e || window.event;
        if (e.keyCode == 13){
            document.getElementById('send').click();
            return false;
        }
        return true;
    }
  </script>
  <script>
    function load_iframe(){
      var patt = /https:.*?&#39/;
      var str = "<%= data[0].url %>";
      var match = patt.exec(str);
      console.log(match[0]);
      var url = match[0].substr(0,match[0].length - 4);
      url = url.replace(/&amp;/g,"&");
      console.log(url);

      var iframeNode = document.createElement("iframe");
      iframeNode.setAttribute("src",url);
      iframeNode.setAttribute("class","embed-responsive-item");
      document.getElementById("slide_block").appendChild(iframeNode);
    }

  </script>
  <title><%= data[0].ppt_title %></title>

</head>
<body onload="load_iframe()">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Meeting Notes System</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active" ><a href="home">Home</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="signout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>


<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8">
      <div class="embed-responsive embed-responsive-4by3" id="slide_block">
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="well" id="message_block">
          <div >
            <ul id="show_msg"></ul>
          </div>
        </div>
        <input id='msg' autocomplete="off" onkeypress="return searchKeyPress(event);" />
        <button id='send'onclick='msg_send()'>Send</button>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Copyrigte by Jia-Wei Lin</p>
</footer>
