<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />
  <link rel='stylesheet' href='/stylesheets/meeting.css' rel='stylesheet' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    var socket = io();
    var name = "<%= user.username %>";
    var title = "<%= data[0].ppt_title %>";
    var pattern = new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>/?~！@#￥……&*（）&;|{}【】‘；：”“'。，、？ ]")
    var rs_title = "";
    var inputTypeValue = "Question";
    for (var i = 0; i < title.length; i++) {
      rs_title = rs_title + title.substr(i, 1).replace(pattern, '_');
    }
    socket.emit("join room" , rs_title);
    socket.emit("add user", name);

    function msg_send(){
      var message = document.getElementById('msg').value;
      
      if( message != "" ){
        socket.emit("msg",{msg:message , type : inputTypeValue });
        document.getElementById('msg').value = "";
      }
    };
    socket.on('meeting message', function(msg){
      var para = document.createElement("p");
      var newMsgNode = document.createTextNode(msg.user + " : " + msg.msg);
      var returnMsgType = msg.type;
      para.appendChild(newMsgNode);
      if( returnMsgType.search(/Question/i) != -1 )
        var element = document.getElementById("question");
      else if( returnMsgType.search(/Comment/i) != -1 )
        var element = document.getElementById("comment");
      else if( returnMsgType.search(/Chat/i) != -1 )
        var element = document.getElementById("chat");
      element.appendChild(para);
      element.scrollTop = element.scrollHeight;
    });
    socket.on('show notes', function(records){
      var para = document.createElement("p");
      var tmp = records.split(')');
      if(tmp[0] == "(Question"){
        var newMsgNode = document.createTextNode(tmp[1]);
        para.appendChild(newMsgNode);
        var element = document.getElementById("question");
        element.appendChild(para);
        element.scrollTop = element.scrollHeight;
      }
      else if(tmp[0] == "(Comment"){
        var newMsgNode = document.createTextNode(tmp[1]);
        para.appendChild(newMsgNode);
        var element = document.getElementById("comment");
        element.appendChild(para);
        element.scrollTop = element.scrollHeight;
      }
    });
    function searchKeyPress(e){
        // look for window.event in case event isn't passed in
        e = e || window.event;
        if (e.keyCode == 13){
            document.getElementById('send').click();
            return false;
        }
        else{
            return true;
        }
        
    }
    function init(){
      var patt = /https:.*?&#39/;
      var str = "<%= data[0].url %>";
      var match = patt.exec(str);
      var url = match[0].substr(0,match[0].length - 4);
      url = url.replace(/&amp;/g,"&");
      var iframeNode = document.createElement("iframe");
      iframeNode.setAttribute("src",url);
      iframeNode.setAttribute("class","embed-responsive-item");
      document.getElementById("slide_block").appendChild(iframeNode);
      document.getElementById("msgType").innerHTML = inputTypeValue;
    }
    function inputType(tabValue){
      inputTypeValue = tabValue;
      document.getElementById("msgType").innerHTML = tabValue;
    }
  </script>
  <title><%= data[0].ppt_title %></title>
</head>
<body onload="init();">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home">Meeting Notes System</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active" ><a href="home">Home</a></li>
          <li><a href="https://docs.google.com/forms/d/1mq0lfN2hfEQrEJaFz7OddAt2ImwL1lwqOL08W7g8eBE/viewform?edit_requested=true" target="#">Feedback</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <p class="navbar-text"><span class="glyphicon glyphicon-user"></span><%= user.username %></p>
          <li><a href="signout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-7 col-md-7">
      <h2><%= data[0].ppt_title %></h2>
      <div class="embed-responsive embed-responsive-4by3" id="slide_block">
      </div>
    </div>
    <div class="col-sm-5 col-md-5">
      <div class="tabbable"> 
        <ul class="nav nav-tabs">
          <li class="active"><a href="#question" data-toggle="tab" onclick="inputType(this.innerHTML)">Question</a></li>
          <li><a href="#comment" data-toggle="tab" onclick="inputType(this.innerHTML)">Comment</a></li>
          <li><a href="#chat" data-toggle="tab" onclick="inputType(this.innerHTML)">Chat</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="question">
          </div>
          <div class="tab-pane" id="comment">
          </div>
          <div class="tab-pane" id="chat">
          </div>  
        </div>
      </div>
      <p id="msgType"></p>
      <div class="form-group-group">
          <textarea id='msg' class="form-control" rows="4" autocomplete="off" onkeypress="return searchKeyPress(event);" placeholder="Input your message here..."></textarea>
      </div>
      <div>
          <p id="hint">Press Enter to send messages</p>
          <button id='send' onclick='msg_send()' class="btn btn-primary btn-secondary " type="button">Send</button>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>© Copyright by Jia-Wei Lin</p>
</footer>
