<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Firepad and Firebase js -->
  <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>      
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
  <!-- <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script> -->
  <script src="/javascripts/firepad.js"></script>

  <!-- Firepad css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />
  <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
    

  <!-- This page css -->
  <link rel="stylesheet" href="/stylesheets/notePage.css" />

  <script>
    var name = "<%= user.username %>";
    var title = "<%= data[0].ppt_title %>";
    var pattern = new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>/?~！@#￥……&*（）&;|{}【】‘；：”“'。，、？ ]")
    var rs_title = "";
    for (var i = 0; i < title.length; i++) {
      rs_title = rs_title + title.substr(i, 1).replace(pattern, '_');
    }
    function initFirepad() {
        // Initialize Firebase.
        // TODO: replace with your Firebase project configuration.
        var config = {
            apiKey: "AIzaSyCI90prOBGvod-lFHYtFOKktnpXgolRWhE",
            authDomain: "note-taking-system.firebaseapp.com",
            databaseURL: "https://note-taking-system.firebaseio.com",
            projectId: "note-taking-system",
            storageBucket: "note-taking-system.appspot.com",
            messagingSenderId: "777619796758"
        };

        firebase.initializeApp(config);

        var firepadRef = firebase.database().ref().child('<%= data[0].ppt_title %>');

        var codeMirror = CodeMirror(document.getElementById('firepad-container'), { lineWrapping: true });
        var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
            { richTextToolbar: true, richTextShortcuts: true , userId:"<%= data[0].ppt_title %>" }
        );
        firepad.on('ready', function() {
            if(firepad.isHistoryEmpty()) {
                firepad.setHtml('<span style="font-size: 24px;"><%= data[0].ppt_title %> </span>');
            }
        });
    }

    function init(){
      initFirepad();
      var patt = /https:.*?&#39/;
      var str = "<%= data[0].url %>";
      var match = patt.exec(str);
      var url = match[0].substr(0,match[0].length - 4);
      url = url.replace(/&amp;/g,"&");
      var iframeNode = document.createElement("iframe");
      iframeNode.setAttribute("src",url);
      iframeNode.setAttribute("class","embed-responsive-item");
      document.getElementById("slide").appendChild(iframeNode);
    }
  </script>
   <script>
     function slidebtn(){
       var btn = document.getElementById("slidebtn");
       console.log(btn.innerHTML);
       if( btn.innerHTML == "Hide Slide" ){
           btn.innerHTML = "Show Slide";
           document.getElementById('slide').style.width = 0;
           document.getElementById('firepad-container').style.width = "100%";
       }
       else if ( btn.innerHTML == "Show Slide" ){
           btn.innerHTML = "Hide Slide";
           document.getElementById('slide').style.width = "50%";
           document.getElementById('firepad-container').style.width = "50%";
       }
    }
  </script>
  <title><%= data[0].ppt_title %></title>
</head>
<body onload="init();">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home">Meeting Notes System</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active" ><a href="home">Home</a></li>
          <li><a href="https://docs.google.com/forms/d/1mq0lfN2hfEQrEJaFz7OddAt2ImwL1lwqOL08W7g8eBE/viewform?edit_requested=true" target="#">Feedback</a></li>
          <button class="btn btn-danger navbar-btn" id="slidebtn" onclick="slidebtn()">Hide Slide</button>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <p class="navbar-text"><span class="glyphicon glyphicon-user"></span><%= user.username %></p>
          <li><a href="signout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="embed-responsive embed-responsive" id="slide">
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div id="firepad-container">
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>© Copyright by Jia-Wei Lin</p>
</footer>
